<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Estudiante</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <h3>Nuevo Estudiante</h3>

    <div class="container">

    <form action="{{request.path}}" method="POST">

        <!--Controles: Nombre, email, codigo-->

        <laberl for="nombre">Nombre</laberl><input class="form-control" type="text" name="nombre"/>
        <laberl for="email">Correo estudiante</laberl><input class="form-control" type="text" name="email"/>
        <laberl for="codigo">Código estudiante </laberl><input class="form-control" type="text" name="codigo"/>
        <input type="submit" value="Agregar" class="btn btn-primary"/>
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>